/* Tailwind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=DM+Sans:wght@400;500&display=swap');

/* CSS Variables */
:root {
  --primary-color: #D0CAFF;
  --secondary-color: #4942E4;
  --third-color: #554BA4;
  --text-color: #CBC8C8;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
  --border-size: 3px;

  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  overflow-x: hidden;
}

/* Reset links and lists */
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--secondary-font);
  font-size: 1.7rem;
  color: #202020;
}

:focus,
:active {
  outline: none !important;
  outline-offset: 0;
}
